<footer style="padding: 0; flex-shrink: 0">
<nav class="container" style="margin-top: 0; margin-bottom: 0; padding: 1em 0">
  <ul>
    <a href="/">
      <img src="/img/logo.png" style="height: 1em">
    </a>
  </ul>
  <ul style="gap: 2em">
    <li><a href="/pricing/" class="secondary">Pricing</a></li>
    <li><a href="mailto:support@newsblend.io" class="secondary">Support</a></li>
    {% comment %}
    <li><a href="#" class="secondary">Privacy Policy</a></li>
    <li><a href="#" class="secondary">Legal</a></li>
    {% endcomment %}
  </ul>
</nav>
</footer>
