<div style="padding: 1em 0; background-color: #008f68" data-theme="dark">
  <nav class="container">
    <ul>
      <li style="padding-left: 6px">
        <a href="/">
          <img src="/img/logo-white.png" style="height: 1.35em">
        </a>
      </li>
    </ul>
    <ul style="gap: 1.5em">
      <li>
        <a href="/pricing/" class="contrast">Pricing</a>
      </li>
      <li>
        <a href="https://app.newsblend.io/" class="contrast">Sign in</a>
      </li>
      <li>
        <a href="https://app.newsblend.io/registration/" role="button" class="contrast" style="padding: .5em 1em">Get started</a>
      </li>
    </ul>
  </nav>
</div>
